<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
</head>
<body>
  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>
    // Force load Twitter widgets when page loads
    window.addEventListener('load', function() {
      if (typeof twttr !== 'undefined' && twttr.widgets) {
        twttr.widgets.load();
      } else {
        // If twttr is not ready yet, wait for it
        var checkTwitter = setInterval(function() {
          if (typeof twttr !== 'undefined' && twttr.widgets) {
            twttr.widgets.load();
            clearInterval(checkTwitter);
          }
        }, 100);
      }
    });
  </script>
</body>
</html>
