---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" {% if page.lang == "he" %}dir="rtl"{% endif %}>
  {% assign post_type = site.data.post_types[page.post_type] %}

  <header class="post-header">
    {% if post_type %}
      <div class="post-type">
        <img src="{{ '/assets/icons/post-types/' | append: post_type.icon | relative_url }}" alt="" aria-hidden="true" width="18" height="18">
        <span>{{ post_type.label | escape }}</span>
      </div>
    {% endif %}
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tags %}
  <aside class="post-tags" aria-label="Tags">
    {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  </aside>
  {% endif %}

</article>
